section{
    background:  url("https://images.unsplash.com/photo-1721549812316-7706f9a0a49c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") center/cover  ;
    width: 80%;
    height: 800px;
    /* background-size: contain; */
    /* background-position: center; */
    margin: auto;
}

h1{
    size: 100px;
    color: white;
}